<section id="diagnostico" class="section">
    <div class="diagnostico-container">
        <h2 class="section-title">Dez anos de impacto na administração municipal</h2>
        <p class="section-subtitle">Um momento importante para a carreira.</p>
        
        <img src="{{ '/assets/img/diagnostico.jpg' | relative_url }}" alt="Descrição da imagem" class="diagnostico-img">
        
        <div class="diagnostico-text">
            <p>
                A carreira de APPGG vivencia um momento especial em que serão comemorados os 10 anos de promulgação da lei que instituiu o cargo. Nesse período tivemos muitas conquistas, com muitos de nós alcançando posições de liderança e realizando um excelente trabalho, tanto a experiente turma inicial, quanto a turma “da pandemia”. 
 
            </p>
            <p>
                Também comemoramos o concurso de 2024, com a chegada de novos colegas que já estão fazendo a diferença no serviço público. Com a integração das três turmas vemos muitas novas iniciativas brotando dessa interação e transformando a gestão municipal.
            </p>
            <p>
                No entanto, é preciso reconhecer que a APOGESP enfrentou desafios nos últimos anos, como questões relacionadas à regularização legal e contábil, que dificultaram sua atuação. Além disso, a associação não tem se feito presente de forma contundente junto ao Poder Executivo e Legislativo, o que limitou sua capacidade de defender os interesses da carreira de maneira efetiva. Diante desse cenário, assumimos o compromisso de reverter essas lacunas, regularizando a situação da associação e restabelecendo um diálogo forte e propositivo com as instâncias de poder, em benefício de todos os APPGGs.
            </p>
            <p>
                Somos um grupo de profissionais comprometidos com a carreira e com o serviço público. Representamos diferentes turmas e experiências, mas compartilhamos um mesmo propósito: fortalecer a APOGESP como instrumento de transformação e valorização profissional. Conheça nossa equipe, nossas propostas e junte-se a nós nessa jornada de renovação e fortalecimento da nossa carreira!
            </p>
        </div>
    </div>
</section>

