<section id="junte-se" class="section junte-se">
    <div class="junte-se-container">
        <h2 class="junte-se-title">Junte-se a nós</h2>
        <p class="junte-se-highlight">Sentiu falta de alguma proposta relevante aqui? Então, junte-se a nós no processo de cocrição do Plano de Atuação Estratégica nos primeiros 45 dias da nova Diretoria. O calendário será divulgado após as eleições.
        </p>
        <p>
            Acreditamos no poder da união e na força da nossa carreira. Com diálogo, transparência e trabalho coletivo, podemos construir uma APOGESP mais forte, inclusiva e representativa. Contamos com o seu apoio e participação para seguir transformando a gestão pública e garantindo um futuro ainda mais promissor para todos os APPGGs. 

        </p>
        <p>
            A APOGESP somos nós! Faça parte das transformações que você quer ver na carreira e na Cidade de São Paulo!

        </p>
    </div>
</section>
