<nav class="navbar">
    <div class="navbar-container">
        <!-- Ícone do menu burger -->
        <div class="burger-menu" onclick="toggleMenu()">
            ☰
        </div>

        <!-- Itens da navbar -->
        <ul class="nav-links">
            <li><a href="#banner" class="nav-item">Início</a></li>
            <li><a href="#diagnostico" class="nav-item">Diagnóstico</a></li>
            <li><a href="#valores" class="nav-item">Valores</a></li>
            <li><a href="#temas" class="nav-item">Temas Prioritários</a></li>
            <li><a href="#composicao" class="nav-item">Composição</a></li>
        </ul>
    </div>
</nav>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sections = document.querySelectorAll(".section");
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    document.querySelectorAll(".section").forEach(section => section.classList.remove("active-section"));
                    entry.target.classList.add("active-section");
                }
            });
        }, { threshold: 0.3 });

        sections.forEach(section => observer.observe(section));
    });
</script>