<section id="temas" class="section">
    <h2 class="section-title">Temas Prioritários</h2>
    <p class="section-subtitle">
        Nossa atuação se baseia em eixos estratégicos que fortalecem a carreira e promovem um serviço público mais qualificado.
    </p>

    <ul class="temas-list">
        <li>Dialogar com os Poderes Executivo e Legislativo buscando a valorização da carreira, especialmente em termos salariais, e de condições de trabalho e capacitação</li>
        <li>Instituir e Apoiar a Comissão de Aprovados no 2º Concurso para APPGG da PMSP e articular junto ao poder público visando a nomeação do maior número possível de aprovados</li>
        <li>Promover a integração e trocas de experiências entre os membros da carreira de maneira constante e estruturada</li>
        <li>Incentivar e suportar a participação ativa dos associados, como fomentar a criação de e apoiar Grupos de Trabalhos temáticos de interesse dos associados para orientar as tomadas de decisões colegiadas</li>
        <li>Aperfeiçoar e ampliar os canais de comunicação da carreira, criando um fluxo contínuo e transparente de informações que permita a discussão eficiente de temas prioritários entre os APPGGs</li>
        <li>Fortalecemos a presença da APOGESP por meio de canais de comunicação externos, campanhas institucionais e parcerias estratégicas, posicionando a carreira como referência em excelência e inovação no serviço público</li>
    </ul>
</section>
