<section id="valores" class="section">
    <h2 class="section-title">Nossos Valores</h2>
    <p class="section-subtitle">
        Compromissos mantidos pela Chapa.
    </p>

    <div class="valores-grid">
        <div class="valor-item">
            <h3 class="valor-title">Cocriação</h3>
            <p class="valor-text">
                Consolidar a APOGESP como um espaço democrático e deliberativo, promovendo a interlocução efetiva com a administração pública e fomentando a troca de experiências e o apoio mútuo entre os APPGGs.

            </p>
        </div>
        
        <div class="valor-item">
            <h3 class="valor-title">Valorização da Carreira</h3>
            <p class="valor-text">
                Trabalhar pela valorização da carreira, buscando melhorias salariais, condições de trabalho dignas e oportunidades de desenvolvimento profissional que garantam a retenção e o crescimento de todos os membros.
            </p>
        </div>
        
        <div class="valor-item">
            <h3 class="valor-title">Equidade</h3>
            <p class="valor-text">
                Promover um ambiente de trabalho mais justo e inclusivo, com políticas como a licença paternidade equânime, flexibilização da jornada após retorno da licença maternidade e paternidade, o incentivo à liderança feminina e de grupos subrepresentados (NNA, LGBTQIA+ e PCDs), e o fortalecimento da carreira como referência nacional em diversidade e inclusão.
            </p>
        </div>
    </div>
</section>
