<section id="diagnostico" class="section">
    <div class="diagnostico-container">
        <h2 class="section-title">Dez anos de impacto na administração municipal</h2>
        <p class="section-subtitle">Um momento importante para a carreira.</p>
        
        <img src="{{ '/assets/img/diagnostico.jpg' | relative_url }}" alt="Descrição da imagem" class="diagnostico-img">
        
        <div class="diagnostico-text">
            <p>
                A carreira de APPGG vivencia um momento especial em que serão comemorados os 10 anos de promulgação da lei 
                que instituiu o cargo. Nesse período tivemos muitas conquistas, com muitos de nós alcançando posições de liderança 
                e realizando um excelente trabalho, tanto a experiente turma inicial, quanto a turma “da pandemia”. 
            </p>
            <p>
                Também comemoramos o concurso de 2024, com a chegada de novos colegas que já estão fazendo a diferença no serviço 
                público. Com a integração das três turmas vemos muitas novas iniciativas brotando dessa interação e transformando a gestão municipal.
            </p>
        </div>
    </div>
</section>

