<section id="valores" class="section">
    <h2 class="section-title">Nossos Compromissos</h2>
    <p class="section-subtitle">
        Compromissos mantidos pela Chapa.
    </p>

    <div class="valores-grid">
        <div class="valor-item">
            <h3 class="valor-title">Cocriação</h3>
            <p class="valor-text">
                Nosso maior desafio consiste em consolidar a APOGESP como um grande fórum deliberativo que propicie uma interlocução 
                efetiva com a administração e se torne um ponto de encontro, trocas e apoio mútuo entre os APPGG´s.
            </p>
        </div>
        
        <div class="valor-item">
            <h3 class="valor-title">Valorização da Carreira</h3>
            <p class="valor-text">
                Outro grande ponto é a constante articulação em prol da valorização da carreira, com remuneração e condições de 
                trabalho que garantam a retenção e o desenvolvimento de seus membros.
            </p>
        </div>
        
        <div class="valor-item">
            <h3 class="valor-title">Equidade</h3>
            <p class="valor-text">
                Lutamos em prol da equidade, como a licença paternidade equânime, incentivo à liderança por mulheres, NNA e LGBTQIA+, 
                bem como colaborar para que a carreira seja referência nacional, promovendo estudos, pesquisas, ações de advocacy e eventos.
            </p>
        </div>
    </div>
</section>
